version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"
  - package-ecosystem: "pip"
    directory: "/server"
    schedule:
      interval: "daily" 
    target-branch: "develop"
  - package-ecosystem: "npm"
    directory: "/client"
    schedule:
      interval: "daily" 
    target-branch: "develop"
