<h1 mat-dialog-title>{{errorTitle}}</h1>

<mat-dialog-content class="mat-typography">
  <p>{{errorMessage}}</p>
  <mat-divider></mat-divider>
  <br>
  <p>To solve this error you could try updating the server or open an issue on github</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <a mat-raised-button color="primary" href="https://github.com/FlamingTuri/youtube-dl-aas/releases" target="_blank">Update</a>
  <a mat-raised-button color="warn" href="https://github.com/FlamingTuri/youtube-dl-aas/issues" target="_blank">Open issue</a>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
